body{
  margin:0;
  text-align:center;
  font-family: 'Merriweather', serif;
}

h1{
  font-family: 'Sacramento', cursive;
  font-size:5.625em;
  margin:50px auto 0 auto;
  line-height:2;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size:2.5rem;
  font-weight:normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
hr{
  border:none;
  border-top: 10px dotted #EAF6F6;
  width:70px;
  margin:50px auto;

}
.top-container{
  position:relative;
   padding-top:100px;
   background-color: #A5F1E9;
   margin-bottom:40px;
}

.bottom-container{
background-color: #66BFBF;
margin-top:30px;
padding:30px;
}
.bottom-container > a{
  color:#11999E;
   margin-right:20px;
   text-decoration:none;
   }
   .bottom-container >p{
    color:#EAF6F6
   }
   
.profile > p{
  color:#40514E;
  width:50%;
  margin:0 auto;
}
.cloud{
  width:250px;
  height:58 px;
}
.top-cloud{
  position:absolute;
  right:500px;
  top:50px
}

.bottom-cloud{
  position:absolute;
  left:350px
  }

h1,h2{
  color:#66BFBF;
  }

  h3,a{
    color:#11999E;
  }


  .skill-row{
    width:50%;
    margin:100px auto;
    text-align:left;
    line-height: 2;
  }

  .skill-img{
    width:25%;
    float:left;
    margin-right:30px;
  }

  .skill-img2{
    width:25%;
    float:right;
    margin-left:30px;
  }

  .contact-me{
    width:50%;
    margin:0 auto
  }
 

  /* btn decoration  */
  
  .btn {
    background: #416882;
    background-image: -webkit-linear-gradient(top, #416882, #2795d9);
    background-image: -moz-linear-gradient(top, #416882, #2795d9);
    background-image: -ms-linear-gradient(top, #416882, #2795d9);
    background-image: -o-linear-gradient(top, #416882, #2795d9);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 8px;
    text-shadow: 3px 3px 4px #211421;
    font-family: Arial;
    color: #f2f2f2;
    font-size: 39px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 30px;
    display: inline-block;
  }
  
  .btn:hover {
    background: #243742;
    background-image: -webkit-linear-gradient(top, #243742, #2f8bc9);
    background-image: -moz-linear-gradient(top, #243742, #2f8bc9);
    background-image: -ms-linear-gradient(top, #243742, #2f8bc9);
    background-image: -o-linear-gradient(top, #243742, #2f8bc9);
    background-image: linear-gradient(to bottom, #30e3cb,  #2bc4ad);
    text-decoration: none;
  }

   /* div > h3 + p,div > img + h3{
    text-align:left;
  } */